:host {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: 85% 1fr;
  border-radius: 8px;
  height: 145px;
  background-color: var(--white);
  box-shadow: var(--shw-1);

  &-body {
    display: flex;
    flex-flow: column;
    padding: 1em;
    justify-content: space-between;
  }

  &-options {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-left: 1px solid var(--gray-200);

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100% !important;
      padding: 0 !important;
      font-size: 16px;
      background-color: inherit !important;
    }
  }
}

.card-checked {
  background-color: #eaf7f3;
  transition: 200ms ease;

  i {
    color: var(--gray-500);
  }

  h6,
  p,
  small {
    color: var(--success);
  }
}
