<div class="card" [class.card-checked]="user.checked">
  <div class="card-body">
    <div>
      <p class="mb-1">{{ user.id }}</p>
      <h6 class="m-0">{{ user.name }}</h6>
    </div>
    <div>
      <p class="light-text mb-1">{{ user.quantity }} users</p>
      <small>{{ user.status ? 'active' : 'inactive' }}</small>
    </div>
  </div>
  <div class="card-options">
    <input [(ngModel)]="user.checked" type="checkbox" />
    <button [disabled]="user.checked">
      <i class="fas fa-user fa-sm fa-fw"></i>
    </button>
    <button
      [disabled]="user.checked"
      (click)="action.emit({ id: user.id, action: 'edit' })"
    >
      <i class="fas fa-pen fa-sm fa-fw"></i>
    </button>
    <button
      [disabled]="user.checked"
      (click)="action.emit({ id: user.id, action: 'delete' })"
    >
      <i class="fas fa-times fa-sm fa-fw"></i>
    </button>
  </div>
</div>
