<h1 class="mb-3">Don't worry</h1>
<p class="light-text mb-5">We'll send you a reset link</p>
<form name="forgotForm" novalidate [formGroup]="forgotForm">
  <mat-form-field class="w-100 mb-3" floatLabel="always">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Enter your email"
      formControlName="email"
      autocomplete="off"
    />

    <mat-error *ngIf="forgotForm.get('email').errors?.required">
      Email is <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="forgotForm.get('email').errors?.email">
      Invalid email address
    </mat-error>
  </mat-form-field>

  <div class="fx j-between a-center">
    <button type="button" [routerLink]="['/login']" class="text-link">
      Cancel
    </button>
    <button class="btn-degree btn-lg">Send</button>
  </div>
</form>
