.custom-alert {
    margin: 1em 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: var(--shadow-panel);
    border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 30.5rem;
    height: 80px;
    opacity: 1;
}

.success {
    color: var(--white);
    background-color: var(--success);
}

.danger {
    color: var(--white);
    background-color: var(--danger);
}

.warning {
    color: var(--dark);
    background-color: var(--warning);
    h6 {
        color: var(--dark);
    }
}

.info {
    color: var(--white);
    background-color: var(--info);
}

.icon-alert {
    margin: 0 0.5em 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
}

.info-alert h6,
.info-alert p {
    color: var(--white);
    margin: 0.5em 0;
}