.header-container {
  background-color: var(--gray-100);
}

.main-header {
  height: 105px;
  padding: 0 2em;
}

.btn-degree {
  position: relative;
  > i {
    position: absolute;
    left: 10px;
    top: 15px;
  }
}

.button-divider {
  box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.2);
  padding: 0 1em;

  button {
    margin: 0 1em -22px 1em;
    z-index: 50;
  }
}

.aux-container {
  height: 22px;
}

.btn-fab {
  border-radius: 30px;
  width: 40px;
  height: 40px;
  padding: 0;

  i {
    font-size: 16px;
  }
}
